@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #010033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23346CDD'/%3E%3Cstop offset='1' stop-color='%23010033'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.24'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  display: flex;
  background-color: rgb(49, 49, 49);
  padding: 20px;
}

.content {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

#gameicon {
  margin: 0 10px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0;
  color: white;
}

.logo h2 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 5px;

}

.nav-links {
  display: flex;
  align-items: flex-start;

}

.main-links {
  justify-content: flex-end;
  display: flex;
  padding: 5px;
  margin-top: 20px;

}

.main-links a{
  font-size: 20px;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

/* store drop down */
.dropdown {
  
  position: absolute;
  top: 100px;
  right: 32%;
  min-width: 160px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.main-links a:hover {
  text-decoration: underline;
  cursor: pointer;
}



.global-link a {
  font-size: 15px;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.global-link a:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(49, 49, 49);
  color: white;
  width: 50%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

}

.tags span{
  margin: 0 10px;
  color: white;
  font-size: 20px;
}

a {
  text-decoration: none;
}
.search-bar div  {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  
  
}

#search {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
}

#react-link {
  text-decoration: none;
  color: white;
}

.games {
  
  border-radius: 5px;
  background-color: rgba(49, 49, 49, 0.8);
  padding: 10px;
  margin: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);


}

.game-list {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 30%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  height: auto;

}

.game-image {
  width: 300px;
  height: 400px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

  
}

.msg-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.library-p {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 50px;
}

.library-icon {
  margin: 20px 10px;
  color: white;
  font-size: 3.0rem;

}

button {
  background-color: rgb(49, 49, 49);
  border: none;
  color: white;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  cursor: pointer;
}

#heart {
  position: relative;
  top: 5px;
  left: 40%;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgb(49, 49, 49);
  padding: 5px;
}

#heart:hover {
  color: red;
  background-color: white;
}


.single-game{
  color: white;
  display: grid;
  column-gap: 50px;
  margin-top: 100px;
  margin-right: 30px;
  margin-left: 30px;
  row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.back-btn {
 
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  
}

.single-title {
  
  grid-column-start: 1;
  grid-column-end: 3;

}

.single-title div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.right-aside {

  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: rgb(49, 49, 49);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  
}

.right-aside div {
  padding: 20px;
  margin:  50px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  height: 300px;

}

/* mobile */
/* iframe {
  width: 100%;
  height: 100%;
} */

.trailer {
  background-color: rgb(49, 49, 49);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;

  
}

.trailer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

#back-btn {
  font-size: 50px;
  
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d2c2c; 
 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(78, 77, 77);
  
}
#bars {
  display: none;
}

/* modal msg */
/* .remove {
  display: block;
  position: absolute;
  color: white;
  background-color: rgb(49, 49, 49);

  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
 

} */

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin: 30px auto;
  background-color: rgb(49, 49, 49);
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  width: 500px;


}
.form div {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  height: 500px;
  width: 400px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}

#form-header {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding: 20px;
}

label{
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}


.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: red;
  font-size: 2.0rem;
  font-family: 'Roboto', sans-serif;
}

.alert-sucess {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: green;
  font-size: 2.0rem;
  font-family: 'Roboto', sans-serif;
}

.error-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.error-content {
  color: black;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*

*********************************************************************************************


MEDIA  QUERIES


*********************************************************************************************
*/

@media only screen and (max-width: 500px) {
  nav {
    width: 100%;
  }
  .nav-links {
    display: none;
  }

  #gameicon {
    display: none;
    margin-right: 50px;
    font-size: 30px;
  }

  #bars {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: block;
    font-size: 30px;
    color: white;
    margin-top: 40px;
  }

  #bars:active {
    animation: punch 1s;
  }
  
  .games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 25px auto;
  }

  .game-list {
    width: 100px;
    margin: 10px;
  }

 
  .search-bar {
    width: 400px;
    margin: 10px;
  }
  .tags span {
    display: none;
  }

  .dropdown-mobile {
    position: absolute;
    top: 150px;
    right: 10%;
    min-width: 150px;
    display: flex;
    color: white;
    padding: 10px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  .dropdown-mobile a {
    color: black;
    text-decoration: none;
    padding: 10px;
  }

  .dropdown-mobile a:hover {
    color: white;
    background-color: black;
  }

  .library-p {
    letter-spacing: 5px;
    margin: 100px 20px 0px 20px;

  }
  
  .library-icon {
    font-size: 9rem;
    margin-top: 80px;

    
  }

  .single-game{
    display: flex;
    flex-direction: column;
  }

  .right-aside div {
    height: auto;
  }

  .trailer div iframe {
    height: auto;
    width: auto;
  }
  .form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 30px auto;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: none;
    width: 100%;
  
    
  }
  .form {
    margin-top: 20%;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form div {
    width: 50%;
    height: 50%;
  }
  .alert-sucess{
    height: 50px;
  }
  .alert {
    height: 50px;
  }
}





@media only screen and (max-width: 600px) {
  .alert-sucess{
    height: 50px;
  }
  .alert {
    height: 50px;
  }
  nav {
    width: 100%;
  }
  .nav-links {
    display: none;
  }

  #gameicon {
    display: none;
    margin-right: 50px;
    font-size: 30px;
  }

  #bars {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: block;
    font-size: 30px;
    color: white;
    margin-top: 40px;
  }

  #bars:active {
    animation: punch 1s;
  }
  
  .games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 25px auto;
  }

  .game-list {
    width: auto;
    margin: 10px;
  }

 
  .search-bar {
    width: 400px;
    margin: 10px;
  }
  .tags span {
    display: none;
  }

  .dropdown-mobile {
    position: absolute;
    top: 150px;
    right: 10%;
    min-width: 150px;
    display: flex;
    color: white;
    padding: 10px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  .dropdown-mobile a {
    color: black;
    text-decoration: none;
    padding: 10px;
  }

  .dropdown-mobile a:hover {
    color: white;
    background-color: black;
  }

  .library-p {
    letter-spacing: 5px;
    margin: 100px 20px 0px 20px;

  }
  
  .library-icon {
    font-size: 9rem;
    margin-top: 80px;

    
  }

  .single-game{
    display: flex;
    flex-direction: column;
  }

  .right-aside div {
    height: auto;
  }

  .trailer div iframe {
    height: auto;
    width: auto;
  }
  .form-wrapper{
    width: 100%;
  }
  .form {
    width: 100%;
  }
}


@media only screen and (max-width: 800px) {
  .alert-sucess{
    height: 50px;
  }
  .alert {
    height: 50px;
  }
  nav {
    width: 100%;
  }
  .nav-links {
    display: none;
  }

  #gameicon {
    display: none;
    margin-right: 50px;
    font-size: 30px;
  }

  #bars {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: block;
    font-size: 30px;
    color: white;
    margin-top: 40px;
  }

  #bars:active {
    animation: punch 1s;
  }
  
  .games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 25px auto;
  }

  .game-list {
    width: auto;
    margin: 10px;
  }

 
  .search-bar {
    width: 400px;
    margin: 10px;
  }
  .tags span {
    display: none;
  }

  .dropdown-mobile {
    position: absolute;
    top: 150px;
    right: 10%;
    min-width: 150px;
    display: flex;
    color: white;
    padding: 10px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  .dropdown-mobile a {
    color: black;
    text-decoration: none;
    padding: 10px;
  }

  .dropdown-mobile a:hover {
    color: white;
    background-color: black;
  }

  .library-p {
    letter-spacing: 5px;
    margin: 100px 20px 0px 20px;

  }
  
  .library-icon {
    font-size: 9rem;
    margin-top: 80px;

    
  }

  .single-game{
    display: flex;
    flex-direction: column;
  }

  .right-aside div {
    height: auto;
  }

  .trailer div iframe {
    height: auto;
    width: auto;
  }
  .form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 30px auto;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: none;
    width: 100%;
  
    
  }
  .form {
    margin-top: 20%;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form div {
    width: 50%;
    height: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .dropdown-mobile {
    display: none;
  }
}
  



@media only screen and (max-width: 1200px) {
  .alert-sucess{
    height: 50px;
  }
  .alert {
    height: 50px;
  }
  nav {
    width: 100%;
  }
  .nav-links {
    display: none;
  }

  #gameicon {
    display: none;
    margin-right: 50px;
    font-size: 30px;
  }

  #bars {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: block;
    font-size: 30px;
    color: white;
    margin-top: 40px;
  }

  #bars:active {
    animation: punch 1s;
  }
  
  .games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 25px auto;
  }

  .game-list {
    width: auto;
    margin: 10px;
  }

 
  .search-bar {
    width: 400px;
    margin: 10px;
  }
  .tags span {
    display: none;
  }

  .dropdown-mobile {
    position: absolute;
    top: 150px;
    right: 10%;
    min-width: 150px;
    display: flex;
    color: white;
    padding: 10px;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  .dropdown-mobile a {
    color: black;
    text-decoration: none;
    padding: 10px;
  }

  .dropdown-mobile a:hover {
    color: white;
    background-color: black;
  }

  .library-p {
    letter-spacing: 5px;
    margin: 100px 20px 0px 20px;

  }
  
  .library-icon {
    font-size: 9rem;
    margin-top: 80px;

    
  }

  .single-game{
    display: flex;
    flex-direction: column;
  }

  .right-aside div {
    height: auto;
  }

  .trailer div iframe {
    height: auto;
    width: auto;
  }
  .form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 30px auto;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: none;
    width: 100%;
  
    
  }
  .form {
    margin-top: 20%;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form div {
    width: 50%;
    height: 50%;
  }
}



/* animation */

@keyframes punch {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
  
